*{
    margin: 0;
    padding: 0;
}

.botones{
    background-color: rgb(72, 66, 77);
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
body{
    background-color: #343a40;
    color: #fff;
}
.table{
    background-color: rgb(255, 240, 240);
}

.btn{
    border: 2px solid black;
}

button{
    border-color: rgb(255, 255, 255);
}

#ventas2021{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    box-sizing: none;
}

@media (max-width: 768px){
    #ventas2021{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
    }
}
#ventas2021 div{
    min-width: 105px;
}

h3{
    margin-top: 100px;
}

.card{
    display: grid;
    place-items: center;
}